@model Novus_Top_Trumps.Controllers.CardComparisonViewModel

@{
    ViewData["Title"] = "CompareCards";
}

<h2 class="heading">Card Comparison</h2>

<p>Comparing <strong>@Model.AttributeName</strong> between:</p>

<h3>@Model.Card1.Name</h3>
<p>@Model.AttributeName: @Model.Card1AttributeValue</p>

<h3>@Model.Card2.Name</h3>
<p>@Model.AttributeName: @Model.Card2AttributeValue</p>

@if (Model.IsCard1Winner.HasValue)
{
    <h2 class="heading winner">Winner: @(Model.IsCard1Winner.Value ? Model.Card1.Name : Model.Card2.Name)</h2>

}
else
{
    <h2 class="heading tie">It's a Tie!</h2>

}

<h2 class="heading">Remaining Cards in Deck 1: @Model.Deck1.Count</h2>
<table>

    <thead class="table-header">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Speed</th>
            <th>Horsepower</th>
            <th>Weight</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model.Deck1)
        {
            <tr class="table-row">

                <td>@card.ID</td>
                <td>@card.Name</td>
                <td>@card.Speed</td>
                <td>@card.Horsepower</td>
                <td>@card.Weight</td>
                <td>@card.Price</td>
            </tr>
        }
    </tbody>
</table>

<h2 class="heading">Remaining Cards in Deck 2: @Model.Deck2.Count</h2>
<table>
    <thead class="table-header">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Speed</th>
            <th>Horsepower</th>
            <th>Weight</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model.Deck2)
        {
            <tr class="table-row">
                <td>@card.ID</td>
                <td>@card.Name</td>
                <td>@card.Speed</td>
                <td>@card.Horsepower</td>
                <td>@card.Weight</td>
                <td>@card.Price</td>
            </tr>
        }
    </tbody>
</table>
@if (Model.IsCard1Winner.HasValue)
{
    @if (Model.IsCard1Winner.Value)
    {
        <a asp-action="SelectAttribute" asp-controller="CarsCards" class="btn btn-primary">Next Round</a>
    } else
    {
        <a asp-action="CompareCards" asp-route="" asp-controller="CarsCards" class="btn btn-primary">Next Round</a>
    }
}
else
{
    <a asp-action="SelectAttribute" asp-controller="CarsCards" class="btn btn-primary">Next Round</a>
}

